<html>
<head>
  <title>{{name}}</title>
</head>
<body>
  <h1><span style="color: grey;">{{ns}}</span>.{{name}}</h1>

  <h2>Docstring</h2>
  <p>{{doc}}</p>

  <h2>Source</h2>
  <p>{{doc}}</p>

  <h2>Examples</h2>
  <p>{{examples}}</p>

  <h2>See Also</h2>
  <p>{{see-also}}</p>
</body>
</html>
